
# Pinout for the iCE40-HX8K Breakout Board

set_io clk P7

set_io flash_csb P13
set_io flash_clk P12
# MOSI
set_io flash_io0 M11
set_io flash_io1 P11
set_io flash_io2 A3
set_io flash_io3 A2


set_io ser_tx J3
set_io ser_rx K3

# left on J3
set_io debug_ser_tx M3
set_io debug_ser_rx G1

# right on J3
set_io debug_flash_csb B1
set_io debug_flash_clk C1
set_io debug_flash_io0 D1
set_io debug_flash_io1 E1
set_io debug_flash_io2 F3
set_io debug_flash_io3 G3

set_io leds[7] C10  # D9
set_io leds[6] A10  # D8
set_io leds[5] D7  # D7
set_io leds[4] D6  # D6
set_io leds[3] A7  # D5
set_io leds[2] C7  # D4
set_io leds[1] A4  # D3
set_io leds[0] C4  # D2

